@import 'variables.scss';

html {
  background-color: $black;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p, ul {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: $white;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  padding: 15px 54px;
  background-color: $black;
  border-radius: 8px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: $white;
  font-weight: 600;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

.button:hover {
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  background-color: rgba(0, 0, 0, 0.4);
}



.main-wrap {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.content-wrap {
  padding: 0 16px;
}

@media (min-width: 700px) {
  .main-wrap {
    max-width: 1440px;
  }
  
  .content-wrap {
    padding: 0 46px;
  }
}