@import 'variables.scss';

.showcase {
  margin-top: -1px;
  padding-top: 100px;
  padding-bottom: 116px;
  background-color: $white;

  &__heading {
    font-weight: 700;
    font-size: 2.8em;
    color: $dark-text;
    line-height: 129%;
    letter-spacing: 0.005em;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.4em;
    line-height: 143%;
    color: $grey-text;
  }
}