@charset "UTF-8";
html {
  background-color: #1A1A1A;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, p, ul {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  padding: 15px 54px;
  background-color: #1A1A1A;
  border-radius: 8px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: #ffffff;
  font-weight: 600;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

.button:hover {
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  background-color: rgba(0, 0, 0, 0.4);
}

.main-wrap {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.content-wrap {
  padding: 0 16px;
}

@media (min-width: 700px) {
  .main-wrap {
    max-width: 1440px;
  }
  .content-wrap {
    padding: 0 46px;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 320px;
  padding: 20px 16px 0;
  background-color: transparent;
}

.header__logo {
  width: 93px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hidden {
  width: 18px;
  background-color: transparent;
}

.burger-menu__item {
  width: 18px;
  height: 1.2px;
  margin-bottom: 5px;
  background-color: #ffffff;
}

@media (min-width: 700px) {
  .header {
    max-width: 1440px;
    padding: 60px 46px 0;
  }
  .header__logo {
    width: 188px;
  }
  .burger-menu__item {
    width: 30px;
    height: 2px;
    margin-bottom: 8px;
  }
  .hidden {
    display: none;
  }
}

html {
  background-color: #1A1A1A;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, p, ul {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  padding: 15px 54px;
  background-color: #1A1A1A;
  border-radius: 8px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: #ffffff;
  font-weight: 600;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

.button:hover {
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  background-color: rgba(0, 0, 0, 0.4);
}

.main-wrap {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.content-wrap {
  padding: 0 16px;
}

@media (min-width: 700px) {
  .main-wrap {
    max-width: 1440px;
  }
  .content-wrap {
    padding: 0 46px;
  }
}

.hero {
  width: 100%;
  background-image: url("/img/hero-mob.jpg");
  background-repeat: no-repeat;
  padding-top: 124px;
}

.hero__heading {
  font-weight: 500;
  font-size: 4em;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: red;
}

.hero__text {
  margin-top: 16px;
  margin-bottom: 100px;
  font-size: 1.4em;
  line-height: 143%;
  font-weight: 500;
}

.hero__link-wrap {
  padding-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__link {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.hero__link:hover ~ .hero__link-arrow {
  -webkit-transform: translate(5px);
          transform: translate(5px);
}

.hero__link:hover {
  color: #D8D8D8;
}

.hero__link-arrow:hover {
  color: #D8D8D8;
  opacity: 1;
}

.hero__link-arrow {
  display: inline-block;
  margin-left: 16px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.mob-btn {
  width: 100%;
  text-decoration: none;
}

.no-opacity {
  color: #ffffff;
  opacity: 1;
}

@media (min-width: 700px) {
  .hero {
    background-image: url("/img/hero-desktop.jpg");
    padding-top: 318px;
  }
  .hero__heading {
    font-size: 12em;
    line-height: 117%;
  }
  .hero__text {
    width: 55%;
    font-size: 2em;
    line-height: 140%;
  }
  .hero__btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero__link-wrap {
    padding-top: 0;
    max-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__link {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
  .mob-btn {
    width: 360px;
    line-height: 143%;
    margin-right: 40px;
  }
}

.features {
  padding-top: 72px;
  padding-bottom: 100px;
}

.features__heading {
  width: 50%;
  font-weight: 700;
  font-size: 2.8em;
  line-height: 129%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}

.features__block {
  padding-top: 80px;
}

.features__img {
  width: 100%;
}

.features__subheading {
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 2em;
  line-height: 140%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.features__text {
  font-size: 1.4em;
  line-height: 143%;
}

/*белый фон????*/
.request {
  padding-top: 72px;
  padding-bottom: 64px;
  background-color: #ffffff;
}

.request__heading {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 2.8em;
  color: #333333;
  line-height: 129%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}

.request__count {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 2.4em;
  line-height: 133%;
  letter-spacing: 0.5px;
  color: #333333;
}

.request__rules {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 143%;
  color: #666666;
}

.request__form {
  margin-top: 48px;
}

.request__form__label {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 143%;
  color: #1A1A1A;
}

.request__form__input {
  padding: 12px 8px;
  position: static;
  width: 100%;
  height: 48px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6em;
  line-height: 150%;
  color: #B3B3B3;
  background: #ffffff;
  border: 1px solid #B3B3B3;
  border-radius: 4px;
}

.request__btn {
  width: 100%;
}

.checkbox-wrap {
  position: relative;
  margin-top: 42px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 3px;
}

.checkbox-text {
  max-width: 248px;
  font-size: 1.2em;
  margin: 0 0 0 30px;
}

.check-input {
  width: 18px;
  height: 18px;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.check-box {
  position: absolute;
  width: 18px;
  height: 18px;
  background: url("/img/uncheck.svg");
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

/*
.checkbox:checked::before {
  visibility: visible;
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 0.25em;
  background-image: url('/img/checkbox.svg');
  border: none;
}
*/
.textarea {
  position: relative;
  height: 124px;
}

@media (min-width: 700px) {
  .mobile-wrap {
    max-width: 658px;
    margin-left: auto;
    margin-right: auto;
  }
  .request__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .request__heading {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 4.8em;
    line-height: 150%;
  }
  .request__count {
    margin-bottom: 0;
    font-size: 3.2em;
    line-height: 125%;
  }
  .request__rules {
    width: 586px;
    font-size: 2em;
  }
}

.showcase {
  margin-top: -1px;
  padding-top: 100px;
  padding-bottom: 116px;
  background-color: #ffffff;
}

.showcase__heading {
  font-weight: 700;
  font-size: 2.8em;
  color: #333333;
  line-height: 129%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}

.showcase__text {
  font-size: 1.4em;
  line-height: 143%;
  color: #666666;
}
/*# sourceMappingURL=styles.css.map */